<h1>Enregistrement d'un nouveau client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 8 %>
  </p>
  <p>
    <%= f.label :infos_projets %><br />
    <%= f.text_area :infos_projets, :rows => 8 %>
  </p>
  <p>
    <%= f.label :client_ce_mois? %><br />
    <%= f.check_box :client_ce_mois %>
  </p>
  <p>
    <%= f.submit 'Créer' %>
  </p>
<% end %>

<%= link_to 'Retour', clients_path %>