<div id="liste_clients">
<h1>Liste des clients de Kantena</h1>

<table border width="600">
<thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Infos projets</th>
    <th>Client ce mois ?</th>
    <th colspan=3>Actions</th>
  </tr>
</thead>

<tbody>
<% @clients.each do |client| %>
  <tr >
    <td><%=h client.nom %></td>
    <td><%=h client.description %></td>
    <td><%=h client.infos_projets %></td>
    <td><%=h client.client_ce_mois %></td>
    <td><%= link_to 'Détails', client %></td>
    <td><%= link_to 'Edition', edit_client_path(client) %></td>
    <td><%= link_to 'Supprimer', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<br />

<%= link_to "enregistrement d'un nouveau client", new_client_path %>