
<p>
  <b>Nom:</b>
  <%=h @client.nom %>
</p>

<p>
  <b>Description:</b>
  <%=h @client.description %>
</p>

<p>
  <b>Infos projets:</b>
  <%=h @client.infos_projets %>
</p>

<p>
  <b>Client ce mois ?:</b>
  <%=h @client.client_ce_mois %>
</p>


<%= link_to 'Edition', edit_client_path(@client) %> |
<%= link_to 'Retour', clients_path %>