
<h3> Liste des informations pour la facturation des clients du mois courant </h3>
<% @customers.each do |customer| -%>
  <p>
    Client : <%= customer.name %> <br/>
    Jours à facturer pour le mois courant : <%= customer.current_working_days %>
    dont <%= customer.current_working_days_yet_validated %> jours validés <br/> <br/>
    Détails des relevés d'activités concernant ce client : <br/>

  <table id="activity_notes_table">
    <thead>
      <tr>
        <th> Nom du développeur </th>
        <th> Nb jours à facturer </th>
        <th> Validation du relevé ? </th>
      </tr>
    </thead>
    <tbody>
      <% customer.current_activities.each do |activity| -%>
        <tr>
          <td> <%= activity.user.name %></td>
          <td> <%=activity.working_days %></td>
          <td> <%= activity.validation_state? ? "Oui" : "Non" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>

  <%= link_to('Supprimer client', home_url(customer),:method =>'delete',:confirm => 'Etes vous sûre ?') %> <br/>
  -------------------------------------------------------------------------------------------------------------
  </p>
<% end %>
<p> 
  <br/> <br/>
</p>

<%= link_to "Ajout d'un nouveau client Kantena", { :controller => "home", :action => "new"} %> <br/>

