<div id="new_activity_note">
  <% form_for  :activity_note, @activity_note, :url => { :action => "create" } do %>
    <p>
      <%= label_tag ('Société : ') %>
      <%= select("activity_note", "customer_id", Customer.all.collect {|c| [ c.name, c.id ] } , {:prompt => 'Selectionner société'}) %>
    </p>
    <p>
      <%= label_tag ('Nb jours à facturer : ') %>
      <%= text_field :activity_note,:working_days%>
    </p
    <%= submit_tag 'Enregistrer' %>
  <% end %>
</div>