<div id="liste_travail_developpeurs">
<h1>Liste relevés d'activités des développeurs</h1>

<table border width="800">
<thead>
  <tr>
    <th>Client</th>
    <th>Nom developpeur</th>
    <th>Nb jours travail</th>
    <th>Validation nb jours travail ?</th>
    <th>Mois</th>
    <th>Annee</th>
    <th colspan=3>Actions</th>
  </tr>
  </thead>

<tbody>
<% @travail_developpeurs.each do |travail_developpeur| %>
  <tr>
    <td><%=h travail_developpeur.client %></td>
    <td><%=h travail_developpeur.nom_developpeur %></td>
    <td><%=h travail_developpeur.nb_jours_travail %></td>
    <td><%=h travail_developpeur.validation_nb_jours_travail %></td>
    <td><%=h travail_developpeur.mois %></td>
    <td><%=h travail_developpeur.annee %></td>
    <td><%= link_to 'Détails', travail_developpeur %></td>
    <td><%= link_to 'Edition', edit_travail_developpeur_path(travail_developpeur) %></td>
    <td><%= link_to 'Supprimer', travail_developpeur, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<br />

<%= link_to "Nouvel enregistrement relevé d'activités", new_travail_developpeur_path %>