<h1>Nouveau relevé d'activités développeur</h1>

<% form_for(@travail_developpeur) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.label :nom_developpeur %><br />
    <%= f.text_field :nom_developpeur %>
  </p>
  <p>
    <%= f.label :nb_jours_travail %><br />
    <%= f.text_field :nb_jours_travail %>
  </p>
  <p>
    <%= f.label :validation_nb_jours_travail? %><br />
    <%= f.check_box :validation_nb_jours_travail %>
  </p>
    <p>
    <%= f.label :mois %><br />
    <%= f.text_field :mois %>
  </p>
    <p>
    <%= f.label :annee %><br />
    <%= f.text_field :annee %>
  </p>
  <p>
    <%= f.submit 'Créer' %>
  </p>
<% end %>

<%= link_to 'Retour', travail_developpeurs_path %>