<h3> Liste des informations pour la facturation des clients du mois de
  <%= (t :'date.month_names')[@selected_month] %></h3>

<%=  select("activity_note", "month", (@today -12..@today).map {|num| [ (t :'date.month_names')[num],num ] }) %>

<% @customers.each do |customer| -%>
  <p>
    Client : <%= customer.name %> <br/>
    Jours facturés  : <%= customer.past_working_days(@selected_month) %>  <br/>
    Détails des relevés d'activités concernant ce client : <br/>
  </p>
  <table id ="activity_notes_table">
    <thead>
      <tr>
        <th> Nom du développeur </th>
        <th> Nb jours facturés </th>
      </tr>
    </thead>
    <tbody>
      <% customer.past_activity_notes(@selected_month).each do |activity| -%>
        <tr>
          <td> <%= activity.user.name %></td>
          <td> <%= activity.working_days %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>