<!DOCTYPE  html>
<html>
  <head>
    <title> <%= @page_title || "Clochette" %> </title>
    <%=  stylesheet_link_tag  "clochette", :media => "all"  %>
  </head>

  <body>

    <div id="banner">
      <tr> <%= image_tag("logo_kantena.gif") %> </tr>
      <tr> <%= @page_title || "Clochette" %> </tr>
    </div>
    <div id="quick_links">
      <%= 'Liens rapides :   '%>
      <%= link_to 'Acceuil', "home" %>
    </div>
    <div id="main">
      <%=  yield  %>
    </div>
  </body>

</html>
